<ng-container *transloco="let t">
    <!-- Header -->
    <div mat-dialog-title class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-1 px-1 md:px-8 border-b" *ngIf="headerValid">

        <!-- Image -->
        <div class="flex shrink-0 items-center justify-center w-20 h-20 mr-4 rounded-full bg-gray-400">
            <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:account_circle'">
            </mat-icon>
        </div>

        <!-- Title -->
        <div class="flex flex-col flex-auto py-2">
            <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-extrabold tracking-tight" style="color:black">
                 {{headerInfo.nameAndEvolution}} 
            </div>
            <div class="mt-1.5 lg:text-lg sm:text-md text-secondary"> {{headerInfo.age | date: 'dd/MM/yy' }} - {{ headerInfo.age | diffAge}}, Próntuario: {{ headerInfo.pron }} - Mãe: {{headerInfo.nameMother | titlecase}} </div>
            <div class="mt-1 lg:text-lg sm:text-md text-secondary"> HYGIA: {{ headerInfo.hygia }}    CPF: {{ headerInfo.cpf }}   Conv: {{headerInfo.convenio}} </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <div [matTooltip]="headerInfo.alergia" *ngIf="headerInfo.alergia" class="ml-1.5 font-extrabold text-2xl lg:text-lg sm:text-md alergias">
                Paciente Alergico
            </div>

            <!-- save button -->
            <button class="ml-1" mat-flat-button [color]="'primary'" (click)="clickOut()" *ngIf="!hiddenSave">
                <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                <span class="ml-2 mr-1"> {{ t('util.save')}}</span>
            </button>

            <!-- Close -->
            <button class="ml-1" [mat-dialog-close]="true" mat-flat-button [color]="'bg-transparent'">
                <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
        </div>
    </div>
    <mat-dialog-content class="flex flex-col">
            <!-- Main -->
            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'"  (selectedTabChange)="tabHistory($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="mx-2" [svgIcon]="'mat_outline:' + compScreen.icon"></mat-icon>
                    <span class="inline-flex items-center space-x-2"> {{compScreen.title | titlecase}} </span>
                    </ng-template>
                    <ng-template matTabContent>
                    <!-- Form -->
                    <app-builder-form [idBuildScreen]="compScreen.id"
                                        [componentScreen]="compScreen" 
                                        [typeBuildScreen]="'add'" 
                                        [valuePreviewScreen]="previewScreen">
                                    </app-builder-form>
                    </ng-template>
                    
                </mat-tab>
                <mat-tab *ngIf="compScreen.typeTab != null">
                    <ng-template mat-tab-label>
                        @if(compScreen.typeTab == 'list' || compScreen.typeTab == 'listQuery'  || compScreen.typeTab == 'ev_hist' || compScreen.typeTab == 'ev_anamnese') {
                            <mat-icon class="mx-2" [svgIcon]="'mat_outline:filter_list'"></mat-icon>
                            <span class="inline-flex items-center space-x-4"> Historico </span>
                        } @else if(compScreen.typeTab == 'chart_monitor' || compScreen.typeTab == 'chart_vitais') {
                            <mat-icon class="mx-2" [svgIcon]="'mat_outline:show_chart'"></mat-icon>
                            <span class="inline-flex items-center space-x-4"> Grafico </span>
                        }
                    </ng-template>
                    <ng-template matTabContent>
                        @switch (compScreen.typeTab) {
                            @case ('list'|| 'listQuery') {
                                <app-builder [fatherScreen]="compScreen" [valuePreviewScreen]="data.item"></app-builder> 
                            }
                            @case ('ev_hist') {
                                <app-evolution [item]="data.item" [builderScreenObject]="compScreen"></app-evolution> 
                            }
                            @case ('ev_anamnese') {
                                <app-evolution [item]="data.item" [builderScreenObject]="compScreen"></app-evolution> 
                            }
                            @case ('chart_monitor') {
                                <app-chat-monitoramento [componentScreen]="compScreen"  [valuePreviewScreen]="previewScreen"></app-chat-monitoramento>
                            }
                            @case ('chart_vitais') {
                                <app-chart-signal-vital [componentScreen]="compScreen"  [valuePreviewScreen]="previewScreen"></app-chart-signal-vital>
                            }
                            @default {
                                <span class="ml-2 mr-1"> {{ t('util.sign')}}</span>
                            }
                        }
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions> </mat-dialog-actions>
</ng-container>