<ng-container *transloco="let t">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <ng-container *transloco="let t">
                <div class="text-4xl font-extrabold tracking-tight">
                    <!-- ARROW BACK -->
                    <button class="ml-1" mat-flat-button [color]="'bg-transparent'" [routerLink]="'..'" routerLinkActive="router-link-active">
                        <mat-icon [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                    </button>
                    {{t('screen.home')}}
                </div>
            </ng-container>

            <!-- Actions -->
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_solid:search'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" placeholder="{{t('util.search')}}">
                </mat-form-field>

                <!-- Add product button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['add']" routerLinkActive="router-link-active">
                    <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                    <span class="ml-2 mr-1">{{t('util.add')}}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Products list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container *ngIf="(items$ | async) as items">
                    <ng-container *ngIf="items.length > 0; else noProducts">
                        <div class="grid">
                            <!-- Header -->
                            <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear>
                                <!-- Table Name -->
                                <div class="sm:block">
                                    {{t('tableName')}}
                                </div>
                                <div class="sm:block">
                                    {{t('title')}}
                                </div>
                                <div class="lg:block">
                                    {{t('icon')}}
                                </div>
                                <div class=" " [mat-sort-header]="'hidden'">
                                    {{t('hidden')}}
                                </div>
                                <div class="sm:block">{{t('details')}}</div>
                                <div class="sm:block"></div>
                            </div>
                            <!-- Rows -->
                            <ng-container *ngFor="let product of items; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Table Name -->
                                    <div class="truncate">
                                        {{product.tableName }}
                                    </div>

                                    <!-- Title -->
                                    <div class="truncate">
                                        {{product.title }}
                                    </div>

                                    <!-- Icon -->
                                    <div class="lg:flex items-center">
                                        <mat-icon [ngClass]="iconSize"
                                            [svgIcon]="'mat_outline' + ':' + product.icon"></mat-icon>
                                    </div>

                                    <!-- Hidden -->
                                    <div class="lg:block items-center">
                                        <ng-container *ngIf="!product.hidden">
                                            <mat-icon class="text-green-400 icon-size-5" [svgIcon]="'mat_solid:visibility'"></mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="product.hidden">
                                            <mat-icon class="text-red-400 icon-size-5" [svgIcon]="'mat_solid:visibility_off'"></mat-icon>
                                        </ng-container>
                                    </div>

                                    <!-- Details button -->
                                    <div class="lg:flex items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button [routerLink]="'edit/' + product.id">
                                            <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:edit'"></mat-icon>
                                        </button>
                                    </div>

                                    <!-- Delete button -->
                                    <div class="lg:flex items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="deleteItem(product.id)">
                                            <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:delete'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        {{t('util.no_records')}}
                    </div>
                </ng-template>

            </div>

        </div>

    </div>
</ng-container>