<ng-container *transloco="let t">

    <!-- Header -->
    <div mat-dialog-title class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="flex flex-col flex-auto py-2">
            
            @switch (scheduler_type) {
                @case ('scheduler_new') {
                    <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-extrabold tracking-tight" style="color:black">
                        Agendamento
                    </div>
                }
                @case ('scheduler_ready') {
                    <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-extrabold tracking-tight" style="color:black">
                        Editar Agendamento
                    </div>
                }
                @default {
                    <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-extrabold tracking-tight" style="color:black">
                        Agendamento
                    </div>
                }
            }
            
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            @switch (scheduler_type) {
                @case ('scheduler_new') {
                    <!-- save button -->
                    <button class="ml-1" mat-flat-button [color]="'primary'" (click)="handleValidateSaveScheduler('new')" [disabled]="!planBillingForm.valid">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2 mr-1"> {{ t('util.save')}}</span>
                    </button>
                }
                @case ('scheduler_ready') {
                    <!-- edit button -->
                    <button class="ml-1 mr-4 mb-4" mat-flat-button [color]="'primary'" (click)="handleValidateSaveScheduler('edit')" [disabled]="!planBillingForm.valid">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2 mr-1"> {{ t('scheduler.preview.edit')}}</span>
                    </button>
                }
                @default {
                    <!-- save button -->
                    <button class="ml-1" mat-flat-button [color]="'primary'" (click)="handleValidateSaveScheduler('new')" [disabled]="!planBillingForm.valid">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2 mr-1"> {{ t('util.save')}}</span>
                    </button>
                }
            }

            <!-- Close -->
            <button class="ml-1" [mat-dialog-close]="true" mat-flat-button [color]="'bg-transparent'">
                <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
        </div>
    </div>

    <mat-dialog-content class="flex flex-col">

        <div *ngIf="isLoading" class="flex flex-col justify-center items-center flex-auto px-10 py-2">
            <mat-spinner></mat-spinner>
        </div>

        <div class="flex flex-col flex-auto min-w-0 mt-6 bg-card dark:bg-transparent" *ngIf="!isLoading">
            <div class="w-full">
                <!-- Form -->
                <form [formGroup]="planBillingForm">

                    <div class="flex flex-row w-full">
                        <mat-radio-group [formControlName]="'tipoAgendamento'" #planRadioGroup="matRadioGroup">
                            <mat-label class="font-semibold"> Atendimento </mat-label>
                            <div class="flex flex-row">
                                @for (plan of plans; track trackByFn($index, plan)) {
                                    <mat-radio-button [value]="plan.value">
                                        <div class="font-semibold">{{ plan.label }}</div>
                                    </mat-radio-button>
                                }

                                <mat-checkbox class="flex flex-row ml-2" [color]="'primary'" [formControlName]="'encaixeHorario'" (change)="insederChange()">
                                    Encaixe
                                </mat-checkbox>
                            </div>
                        </mat-radio-group>

                        <div class="flex flex-row w-full justify-end">
                            <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64">
                                <mat-label>{{t('scheduler.status')}}</mat-label>
                                <mat-select [formControlName]="'status'">
                                    <mat-select-trigger class="flex flex-row w-full items-center">
                                        <div class="flex flex-row w-full items-center">
                                            <div class="status-cicle mr-2" [style]="'background-color:' + getStatusColor(planBillingForm.get('status').value)"></div>
                                            {{ getStatusDescription(planBillingForm.get('status').value) || '' | titlecase}}
                                        </div>
                                    </mat-select-trigger>
                                    <ng-container *ngFor="let status of status_list">
                                        <mat-option [value]="status.value">
                                            <div class="flex flex-row w-full items-center">
                                                <div class="status-cicle mr-2" [style]="'background-color:' + getStatusColor(status.value) "></div>
                                                {{ status.label | titlecase}}
                                            </div>
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-row w-full">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full">
                            <mat-label>{{t('scheduler.setor')}}</mat-label>
                            <mat-select [formControlName]="'centroCustoID'" (selectionChange)="handleFindDoctor()">
                                <mat-option [value]="null"> </mat-option>
                                <ng-container *ngFor="let zone of setorInputList">
                                    <mat-option [value]="zone.centrocusto">
                                        {{ zone.descricao | titlecase }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
        
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label>{{t('scheduler.doctor')}}</mat-label>
                            <mat-select [formControlName]="'medicoID'" (selectionChange)="getDoctorScale()">
                                <mat-option [value]="null"> </mat-option>
                                <ng-container *ngFor="let doctor of doctorInputList">
                                    <mat-option [value]="doctor.medico">
                                        {{ doctor.nome | titlecase}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-row w-full">

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full">
                            <mat-label> Convênio </mat-label>
                            <mat-select [formControlName]="'convenioID'">
                                <mat-option [value]="null"> </mat-option>
                                <ng-container *ngFor="let convenio of convenioInputList">
                                    <mat-option [value]="convenio.convenio">
                                        {{ convenio.descricao | titlecase}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64 ml-4">
                            <mat-label> Data da Consulta </mat-label>
                            <input matInput [matDatepicker]="datepicker" [formControlName]="'horaInicio'" readonly (ngModelChange)="getDoctorScale()">
                            <mat-datepicker-toggle [for]="datepicker" matSuffix/>
                            <mat-datepicker #datepicker disabled="false"/>
                        </mat-form-field>
                        
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64 ml-4" *ngIf="!isLoadingDoctorScale">
                            <mat-label>Hora Inicio</mat-label>
                            <input matInput readonly
                                matTimepickerMin="08:00"
                                matTimepickerMax="18:00"
                                [matTimepicker]="timepicker"
                                (ngModelChange)="handleChangeTime()"
                                [formControlName]="'horaInicio'"
                                [ngModelOptions]="{updateOn: 'default'}">
                            <mat-timepicker [options]="customOptions" #timepicker/>
                            <mat-timepicker-toggle [for]="timepicker" matSuffix/>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64 ml-4">
                            <mat-label> Duração Consulta </mat-label>
                            <mat-select [(ngModel)]="selected_time" [ngModelOptions]="{standalone: true}" placeholdeer="Selecione..." (selectionChange)="handleChangeTime()">
                                <mat-option [value]="15"> 15 </mat-option>
                                <mat-option [value]="30"> 30 </mat-option>
                                <mat-option [value]="45"> 45 </mat-option>
                                <mat-option [value]="60"> 60 </mat-option>
                                <mat-option [value]="120"> 120 </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    

                    <div class="flex flex-row items-center w-full">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-20">
                            <mat-label>Ficha</mat-label>
                            <input disabled matInput [(ngModel)]="paciente_register" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label>Nome Paciente</mat-label>
                            <input matInput [formControlName]="'paciente'">
                        </mat-form-field>

                        <button class="lg:flex items-center details min-w-10 min-h-11 h-11 px-2 leading-6 ml-4" (click)="handleGetUser()">
                            <mat-icon class="icon-size-7" [svgIcon]="'mat_solid:search'"></mat-icon>
                        </button>
                    </div>

                    <div class="flex flex-row w-full">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full">
                            <mat-label> Nascimento </mat-label>
                            <input [imask]="{mask: '00/00/0000'}" [unmask]="false"  matInput [formControlName]="'nascimento'" placeholder="dd/MM/yyyy" [ngModelOptions]="{updateOn: 'default'}">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label>Contato 1</mat-label>
                            <input [imask]="{mask: '(00)00000-0000'}" [unmask]="false"  matInput [formControlName]="'contato1'" placeholder="(00)00000-0000" [ngModelOptions]="{updateOn: 'default'}">
                        </mat-form-field>

                        <mat-checkbox class="ml-2" [color]="'primary'" [formControlName]="'whatsapp'" >
                            Whatsapp
                        </mat-checkbox>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label>Contato 2</mat-label>
                            <input matInput [imask]="{mask: '(00)00000-0000'}" [unmask]="false" [formControlName]="'contato2'" placeholder="(00)00000-0000">
                        </mat-form-field>
                    </div>

                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full">
                        <mat-label>Observação</mat-label>
                        <textarea matInput (resize)="false" [formControlName]="'observacoes'" placeholder="Observação sobre a consulta"></textarea>
                    </mat-form-field>

                    <!-- Scheduler resources -->
                    <div class="flex flex-row items-center w-full" *ngIf="planBillingForm.get('tipoAgendamento').value != 'consulta'">
                        <!-- tipo recurso -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64">
                            <mat-label> Tipo de Recurso </mat-label>
                            <mat-select [(ngModel)]="type_resources" (selectionChange)="onKeyChange()" [ngModelOptions]="{standalone: true}">
                                @if (planBillingForm.get('tipoAgendamento').value != 'exame') {
                                    <mat-option value="cirurgia" *ngIf="planBillingForm.get('tipoAgendamento').value != 'exame'"> Cirurgia </mat-option>
                                    <mat-option value="equipamento" *ngIf="planBillingForm.get('tipoAgendamento').value != 'exame'"> Equipamento </mat-option>
                                }
                                
                                <mat-option value="exame"> Exame </mat-option>
                                
                            </mat-select>
                        </mat-form-field>

                        <!-- add recurso -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label> Recurso </mat-label>    
                            <input type="text"
                                matInput
                                (input)="onKeySearch($event.target.value, field)"
                                placeholder="Pesquisar..."
                                [(ngModel)]="name_resources"
                                [ngModelOptions]="{standalone: true}"
                                [value]="getResourcesName(name_resources)"
                                [matAutocomplete]="auto">
                                <mat-spinner *ngIf="isLoadingRecurso" class="w-5 h-5"></mat-spinner>
                                <mat-autocomplete #auto="matAutocomplete">
                                    @for (resource of resourcesInputList; track resource.id) {
                                        <mat-option [value]="resource.id"> {{ resource.nome }} </mat-option>
                                    }
                                    <mat-option class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent" *ngIf="resourcesInputList?.length < 1">
                                        {{t('util.no_records')}}
                                    </mat-option>
                                </mat-autocomplete>
                        </mat-form-field>

                        <!-- quantidade -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64 ml-4">
                            <mat-label> Quantidade </mat-label>
                            <input matInput type="number" [(ngModel)]="quantity_resources" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <!-- add recurso -->
                        <button class="ml-4 w-6" mat-flat-button [color]="'primary'" (click)="populationSchedulerResources()">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:add'"></mat-icon>
                        </button>
                    </div>
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto w-full" *ngIf="planBillingForm.get('tipoAgendamento').value != 'consulta'">

                        <!-- Scheduler resources list -->
                        <ng-container *ngIf="scheduler_list.resources_list.length > 0; else noProducts">
                            <div class="grid">
                                <!-- Header -->
                                <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-4 shadow text-md font-semibold "
                                    matSort matSortDisableClear>

                                    <!-- Quantidade -->
                                    <div class="lg:block">
                                        Quantidade
                                    </div>

                                    <!-- Tipo -->
                                    <div class="sm:block">
                                        Tipo Recurso
                                    </div>

                                    <!-- Nome -->
                                    <div class="sm:block">
                                        Recurso
                                    </div>

                                    <div class="sm:block"></div>
                                </div>
                                <!-- Rows -->
                                <ng-container *ngFor="let item of scheduler_list.resources_list; trackBy: trackByFn; let o = index">
                                    <div class="inventory-grid grid items-center gap-4 py-3 px-4 border-b">

                                        <!-- Quantidade -->
                                        <div class="truncate">
                                            {{item.quantidade }}
                                        </div>

                                        <!-- Tipo -->
                                        <div class="truncate">
                                            {{ item.tipo | titlecase }}
                                        </div>

                                        <!-- Nome -->
                                        <div class="truncate">
                                            {{item.name_resource | titlecase }}
                                        </div>

                                        <!-- Delete button -->
                                        <div class="w-full lg:flex justify-end">
                                            <button class="ml-4 w-6" mat-flat-button [color]="'primary'" (click)="removeSchedulerResources(o)">
                                                <mat-icon class="text-secondary" [svgIcon]="'mat_outline:delete'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-template #noProducts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                Sem Recursos!
                            </div>
                        </ng-template>

                    </div>


                    <!-- Team -->
                    <div class="flex flex-row items-center w-full" *ngIf="planBillingForm.get('tipoAgendamento').value == 'cirurgia'">
                        <!-- funcao -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-64">
                            <mat-label> Função </mat-label>
                            <mat-select [(ngModel)]="type_function" (selectionChange)="onKeyChange()" [ngModelOptions]="{standalone: true}">
                                <mat-option value="anestesista"> Anestesista </mat-option>
                                <mat-option value="1auxiliar"> 1º Auxiliar </mat-option>
                                <mat-option value="2auxiliar"> 2º Auxiliar </mat-option>
                                <mat-option value="3auxiliar"> 3º Auxiliar </mat-option>
                                <mat-option value="4auxiliar"> 4º Auxiliar </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- nome profissional -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full ml-4">
                            <mat-label> Profissional </mat-label>    
                            <input type="text"
                                matInput
                                (input)="onKeySearch($event.target.value, 'team')"
                                placeholder="Pesquisar..."
                                [(ngModel)]="name_professional"
                                [ngModelOptions]="{standalone: true}"
                                [value]="getDoctorName(name_professional)"
                                [matAutocomplete]="auto">
                                <mat-spinner *ngIf="isLoadingDoctor" class="w-5 h-5"></mat-spinner>
                                <mat-autocomplete #auto="matAutocomplete">
                                    @for (doctor of professionalsInputList; track doctor.medico) {
                                        <mat-option [value]="doctor.medico"> {{ doctor.descricao }} </mat-option>
                                    }
                                    <mat-option class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent" *ngIf="professionalsInputList?.length < 1">
                                        {{t('util.no_records')}}
                                    </mat-option>
                                </mat-autocomplete>
                        </mat-form-field>

                        <!-- add teams -->
                        <button class="ml-4 w-6" mat-flat-button [color]="'primary'" (click)="populationSchedulerTeam()">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:add'"></mat-icon>
                        </button>
                    </div>

                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto w-full" *ngIf="planBillingForm.get('tipoAgendamento').value == 'cirurgia'">

                        <!-- Team list -->
                        <ng-container *ngIf="scheduler_list.teams_list.length > 0; else noProducts">
                            <div class="grid">
                                <!-- Header -->
                                <div class="inventory-grid-team z-10 sticky top-0 grid gap-4 py-4 px-4 shadow text-md font-semibold "
                                    matSort matSortDisableClear>

                                    <!-- Tipo -->
                                    <div class="sm:block">
                                        Função
                                    </div>

                                    <!-- Nome -->
                                    <div class="sm:block">
                                        Nome
                                    </div>

                                    <div class="sm:block"></div>
                                </div>
                                <!-- Rows -->
                                <ng-container *ngFor="let item of scheduler_list.teams_list; trackBy: trackByFn; let o = index">
                                    <div class="inventory-grid-team grid items-center gap-4 py-3 px-4 border-b">

                                        <!-- Tipo -->
                                        <div class="truncate">
                                            {{ item.tipo | titlecase }}
                                        </div>

                                        <!-- Nome -->
                                        <div class="truncate">
                                            {{item.name_resource | titlecase }}
                                        </div>

                                        <!-- Delete button -->
                                        <div class="w-full lg:flex justify-end">
                                            <button class="ml-4 w-6" mat-flat-button [color]="'primary'" (click)="removeSchedulerDoctor(o)">
                                                <mat-icon class="text-secondary" [svgIcon]="'mat_outline:delete'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-template #noProducts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                Sem Equipe!
                            </div>
                        </ng-template>

                    </div>
                </form>
            </div>
        </div>
    </mat-dialog-content>
</ng-container>