<ng-container *transloco="let t">
    <h2 mat-dialog-title></h2>
    <mat-dialog-content class="flex flex-auto overflow-hidden">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto px-8 py-8 overflow-y-auto overflow-hidden">

                <div class="flex flex-col flex-auto px-6 py-6 overflow-y-auto overflow-hidden">
                    <!-- data -->
                    <div class="flex flex-row h-20 mb-4 px-2 py-2 overflow-hidden">
                        <span class="text-2xl font-extrabold" style="color: black;">
                            {{t('treatment.status')}}: {{therapeutic_data.medicacaoadministrada == '1' ? t('faq.checked') : 
                                                    (therapeutic_data.medicacaoadministrada == '2' ? t('faq.suspended') : t('faq.prescribe'))}}
                        </span>
                    </div>

                    <!-- data -->
                    <div class="flex flex-row h-20 mb-4 overflow-hidden text-2xl font-extrabold" style="color: black;">
                        {{t('check.item')}}: {{therapeutic_data.item}}  -  {{t('check.dose')}}: {{therapeutic_data.quantidade}}
                        {{t('check.via')}}: {{therapeutic_data.via}}  -  {{t('check.intervalo')}}: {{therapeutic_data.intervalo}}
                        <br>
                        {{therapeutic_data.observacaoprescricao ? therapeutic_data.observacaoprescricao : ''}}
                    </div>

                    <!-- data -->
                    <div class="flex flex-row h-form-20 mb-4 px-2 py-2 overflow-hidden">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-5 ml-2 h-20">
                            <mat-label>{{ t('treatment.date') | titlecase }}</mat-label>
                            <input disabled matInput [matDatepicker]="picker" [(ngModel)]="dayInputControl" (ngModelChange)="''">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [startAt]="dateToday"></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-5 ml-2 h-20">
                            <mat-label>{{ t('atualHour') | titlecase }}</mat-label>
                            <input matInput type="time" [(ngModel)]="hourInputControl" (ngModelChange)="''">
                            <mat-icon matSuffix class="icon-size-5" [svgIcon]="'mat_solid:timer'"></mat-icon>
                        </mat-form-field>
                    </div>


                    <div class="flex flex-row flex-auto w-full h-form-20 overflow-hidden">
                        <mat-form-field class="h-20 w-full">
                            <mat-label>{{ 'teste' | titlecase}}</mat-label>
                            <textarea matInput rows="5" [placeholder]="'Observação'" [autoResize]="false" [(ngModel)]="obsInputControl"> </textarea>
                        </mat-form-field>
                    </div>
                </div>

                
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">

        <!-- executado button -->
        <button class="ml-1" mat-flat-button [mat-dialog-close]="false" [color]="'primary'" (click)="''">
            <mat-icon [svgIcon]="'mat_outline:check'"></mat-icon>
            <span class="ml-2 mr-1"> {{ t('check.executed')}}</span>
        </button>

        <!-- devolvido button -->
        <button class="ml-1" mat-flat-button [mat-dialog-close]="false" style="background-color: red; color: white;" (click)="''">
            <mat-icon [svgIcon]="'mat_outline:restore'"></mat-icon>
            <span class="ml-2 mr-1"> {{ t('check.return')}}</span>
        </button>

        <!-- Close -->
        <button class="ml-1" mat-flat-button [color]="'bg-transparent'" [mat-dialog-close]="true" >
            <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            <span class="ml-2 mr-1"> {{ t('util.cancel')}}</span>
        </button>
    </mat-dialog-actions>
</ng-container>
