<ng-container *transloco="let t">
    <!-- Header -->
    <div mat-dialog-title class=" modal-preview-scheduler-title relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-2 border-b">
    
        <!-- Title -->
        <div class="flex flex-col flex-auto py-2">
            <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-black tracking-tight">
                Recursos
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Close -->
            <button class="ml-1" [mat-dialog-close]="true" mat-flat-button [color]="'bg-transparent'">
                <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
        </div>
    </div>
    <mat-dialog-content class="flex flex-col ps">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto w-full">

            <!-- Scheduler list -->
            <ng-container *ngIf="scheduler_list.length > 0; else noProducts">
                <div class="grid">
                    <!-- Header -->
                    <div class="inventory-grid bg-color-header z-10 sticky top-0 grid gap-4 py-4 px-4 shadow text-md font-semibold "
                        matSort matSortDisableClear>

                        <!-- Quantidade -->
                        <div class="lg:block">
                            Quantidade
                        </div>

                        <!-- Tipo -->
                        <div class="sm:block">
                            Tipo Recurso
                        </div>

                        <!-- Nome -->
                        <div class="sm:block">
                            Recurso
                        </div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngFor="let item of scheduler_list; trackBy: trackByFn; let o = index">
                        <div class="inventory-grid grid items-center gap-4 py-3 px-4">

                            <!-- Quantidade -->
                            <div class="truncate">
                                {{item.quantidade }}
                            </div>

                            <!-- Tipo -->
                            <div class="truncate">
                                {{ item.tipo | titlecase }}
                            </div>

                            <!-- Nome -->
                            <div class="truncate">
                                {{item.name_resource | titlecase }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-template #noProducts>
                <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                    Sem Recursos!
                </div>
            </ng-template>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end"> 
    </mat-dialog-actions>
</ng-container>