<ng-container *transloco="let t">
    <h2 mat-dialog-title></h2>
    <mat-dialog-content class="flex flex-auto overflow-hidden">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

                <!-- Image -->
                <div class="flex shrink-0 items-center justify-center w-20 h-20 mr-4 rounded-full bg-gray-400">
                    <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:account_circle'">
                    </mat-icon>
                </div>

                <!-- Title -->
                <div class="flex flex-col flex-auto py-2">
                    <div class="lg:text-4xl sm:text-2xl font-extrabold tracking-tight" style="color:black"> {{headerInfo.nameAndEvolution | titlecase}} </div>
                    <div class="mt-1.5 lg:text-lg sm:text-md text-secondary"> {{headerInfo.age | date: 'dd/MM/yy' }} - {{ headerInfo.age | diffAge}}, Próntuario: {{ headerInfo.pron | titlecase }} - Mãe: {{headerInfo.nameMother | titlecase}} </div>
                    <div class="mt-1 lg:text-lg sm:text-md text-secondary"> {{headerInfo.convenio | titlecase}} </div>
                </div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-5 ml-2 ">
                        <mat-label>{{ t('treatment.date') | titlecase }}</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dayInputControl" (ngModelChange)="sql()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="dateToday"></mat-datepicker>
                    </mat-form-field>

                    <div [matTooltip]="headerInfo.alergia" *ngIf="headerInfo.alergia" class="ml-1.5 font-extrabold text-2xl lg:text-lg sm:text-md alergias">
                        Paciente Alergico
                    </div>

                     <!-- save button -->
                     <button class="ml-1" mat-flat-button [mat-dialog-close]="false" [color]="'primary'" (click)="''">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2 mr-1"> {{ t('util.save')}}</span>
                    </button>

                    <!-- Close -->
                    <button class="ml-1" [mat-dialog-close]="true" mat-flat-button [color]="'bg-transparent'">
                        <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div class="flex flex-col flex-auto overflow-y-auto overflow-hidden">
                <!-- Products list -->
                <div class="flex flex-col flex-auto mb-4 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="responseBody.length > 0; else noProducts">
                        <div class="flex flex-row mb-0 justify-between">
                            <div class="flex w-full flex-col"></div>
                            <div class="flex flex-col w-full p-4 items-center">
                                <div class="mt-1.5 lg:text-lg sm:text-md text-secondary">
                                    {{ dateToday | localizedDate | titlecase}}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row flex-auto mb-4 overflow-hidden sm:overflow-y-auto">
                            <div class="flex flex-col flex-auto w-full overflow-y-auto mb-4">
                                <div class="grid">
                                    <!-- Header -->
                                    <div class="inventory-grid grid items-center gap-4 py-4 px-6 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        matSort matSortDisableClear>
                                        <!-- Item -->
                                        <div class="flex flex-row flex-auto">
                                            <!-- Table Name -->
                                            <div class="flex flex-0 flex-auto items-center">
                                                {{t('check.item')}}
                                            </div>

                                            <div class="flex flex-0 flex-auto items-center justify-center">
                                                {{t('check.via')}}
                                            </div>

                                            <div class="flex flex-0 w-20 items-center justify-center">
                                                {{t('check.intervalo')}}
                                            </div>

                                            <div class="flex flex-0 w-20 items-center justify-center">
                                                {{t('check.dose')}}
                                            </div>

                                            <!-- HEADER NUMBERS -->
                                            <ng-container *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
                                                <div class="flex py-mei flex-row min-w-3 justify-center font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                                    {{ number }}
                                                </div>
                                            </ng-container>
                                        </div>
                                        
                                    </div>
                                    <!-- Rows -->
                                    <ng-container *ngFor="let product of responseBody; trackBy: trackByFn">
                                        <div class="inventory-grid grid items-center gap-4 py-4 px-6 md:px-8 border-b">

                                            <!-- Item -->
                                            <div class="flex flex-row flex-auto">
                                                <!-- name -->
                                                <div class="flex flex-0 flex-auto items-center mr-4">
                                                    <div class="truncate">
                                                        {{ product.item }}
                                                    </div>
                                                    <!--
                                                    <div class="truncate">
                                                        Observação: {{ product.descricao }}
                                                    </div>
                                                    -->
                                                </div>

                                                <!-- via -->
                                                <div class="flex flex-0 flex-auto items-center justify-center">
                                                    {{ product.via }}
                                                </div>

                                                <!-- intervalo -->
                                                <div class="flex flex-0 w-20 items-center justify-center">
                                                    {{ product.intervalo }}
                                                </div>
                                                    
                                                <!-- Dose -->
                                                <div class="flex flex-0 w-20 items-center justify-center">
                                                    {{ product.datas.length }}
                                                </div>

                                                <div class="flex flex-row justify-between">
                                                    <ng-container *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
                                                        <div [attr.id]="'check-' + number"
                                                            
                                                            class="flex flex-row items-center justify-center check-opt min-w-3 gap-2 px-6" 
                                                            (click)="checkDiv(number)">
                                                            @for (item of product.datas; track $index) {
                                                                @if (item.hora !== null) {
                                                                    @if (item.hora.substring(0, 2) == ""+number || item.hora.substring(0, 2) == "0"+number) {
                                                                        <button  mat-icon-button  
                                                                            [matTooltip]=" item.suspenso == '1' && item.medicacaoadministrada != '2' ? t('faq.suspended') : 
                                                                                            (item.medicacaoadministrada == '1' ? item.atualizacao :
                                                                                            (item.medicacaoadministrada == '2' ? t('faq.returned') :
                                                                                            t('check.dose') + '(s): ' + item.quantidade))" 
                                                                            [matTooltipPosition]="'below'" (click)="item.medicacaoadministrada != '1' ? openCheckModal(item) : ''">
                                                                            <!--{{item.quantidade}}-->

                                                                            @if (item.suspenso == "1" && item.medicacaoadministrada != "2") {
                                                                                <mat-icon class="text-secondary" style="margin-left: -.5rem; color: gray !important" [svgIcon]="'mat_outline:alarm_off'"></mat-icon>
                                                                            }@else if (item.medicacaoadministrada == "1") {
                                                                                <mat-icon class="text-secondary" style="margin-left: -.5rem; color: green !important" [svgIcon]="'mat_outline:check'"></mat-icon>
                                                                            }@else if (item.medicacaoadministrada == "2") {
                                                                                <mat-icon class="text-secondary" style="margin-left: -.5rem; color: red !important" [svgIcon]="'mat_outline:restore'"></mat-icon>
                                                                            }
                                                                            @else {
                                                                                @if (hoursNow > number) {
                                                                                    <mat-icon class="text-secondary" style="margin-left: -.5rem; color: yellow !important" [svgIcon]="'mat_outline:access_alarm'"></mat-icon>
                                                                                }
                                                                                @else  {
                                                                                    <mat-icon class="text-secondary" style="margin-left: -.5rem; color: green !important" [svgIcon]="'mat_outline:access_alarm'"></mat-icon>
                                                                                }
                                                                            }
                                                                        </button>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        {{t('util.no_records')}}
                    </div>
                </ng-template>
            </div>
            <mat-dialog-actions>
                <!-- faq -->
                <div class="flex overflow-hidden items-start m-0 p-0">
                    <button class="ml-1" mat-icon-button [color]="'bg-transparent'" (click)="openFaqModal()">
                        <mat-icon [svgIcon]="'mat_outline:help_outline'"></mat-icon>
                    </button>
                </div>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>
</ng-container>
