<ng-container *transloco="let t">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                <!-- ARROW BACK -->
                <button class="ml-1" mat-flat-button [color]="'bg-transparent'" (click)="return()">
                    <mat-icon [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                </button>
                {{!dataEdit ? t('div.add') : t('div.update')}}
            </div>

            <!-- Actions -->
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Add item button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="!dataEdit ? additem() : updateItem()">
                    <mat-icon [svgIcon]=" !dataEdit ? 'mat_outline:save' : 'mat_outline:refresh'"></mat-icon>
                    <span class="ml-2 mr-1"> {{!dataEdit ? t('util.add') : t('util.update')}}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Add Form -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <!-- Selected product form -->
                <form class="flex flex-col w-full " [formGroup]="selectedProductForm">

                    <div class="flex flex-col sm:flex-row p-8">
                        <div class="flex flex-auto flex-wrap">
                            <!-- Name, SKU & etc. -->
                            <div class="flex flex-col w-full sm:pl-8">

                                <!-- Name -->
                                <div class="flex">
                                    <mat-form-field class="w-2/3 pr-2">
                                        <mat-label>{{t('title')}}</mat-label>
                                        <input matInput [formControlName]="'title'">
                                    </mat-form-field>

                                    <div class="flex flex-col pl-8 mt-8">
                                        <span class="font-semibold mb-2">{{t('active')}}</span>
                                        <mat-slide-toggle [formControlName]="'active'" [color]="'primary'"> {{selectedProductForm.get('active').value === true ? t('active') :
                                            t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="flex items-center justify-between w-full border-t px-8 py-4" *ngIf="dataEdit">
                    <button class="-ml-4" mat-button [color]="'warn'" (click)="deleteSelectedProduct()">
                        {{t('delete')}}
                    </button>
                </div>
            </div>

        </div>

    </div>
</ng-container>