<ng-container *transloco="let t">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                <!-- ARROW BACK -->
                <button class="ml-1" mat-flat-button [color]="'bg-transparent'" (click)="return()">
                    <mat-icon [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                </button>
                {{!dataEdit ? t('field.add') : t('field.update')}}
            </div>

            <!-- Actions -->
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Add item button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="!dataEdit ? additem() : updateItem()">
                    <mat-icon
                        [svgIcon]=" !dataEdit ? 'mat_outline:save' : 'mat_outline:refresh'"></mat-icon>
                    <span class="ml-2 mr-1"> {{!dataEdit ? t('util.add') : t('util.update')}}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Add Form -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto" *ngIf="!isLoading">
                <!-- Selected product form -->
                <form class="flex flex-col w-full" [formGroup]="selectedProductForm">

                    <div class="flex flex-col sm:flex-row p-8">
                        <div class="flex flex-auto flex-wrap">
                            <!-- ID, placeholder, label & type -->
                            <div class="flex flex-col w-full sm:pl-8">
                                <div class="flex">
                                    <!-- Id -->
                                    <mat-form-field class="w-60 pr-2 disabled" *ngIf="dataEdit">
                                        <mat-label>{{t('key')}}</mat-label>
                                        <input matInput [formControlName]="'id'">
                                    </mat-form-field>

                                    <!-- placeholder -->
                                    <mat-form-field class="w-2/3 pr-2">
                                        <mat-label>{{t('placeholder')}}</mat-label>
                                        <input matInput [formControlName]="'placeholder'">
                                    </mat-form-field>

                                    <!-- label -->
                                    <mat-form-field class="w-2/3 pr-2">
                                        <mat-label>{{t('label')}}</mat-label>
                                        <input matInput [formControlName]="'label'">
                                    </mat-form-field>

                                    <!-- type -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('type')}}</mat-label>
                                        <mat-select [formControlName]="'type'">
                                            <ng-container *ngFor="let field of typeField">
                                                <mat-option [value]="field.id">
                                                    {{t('types.'+field.id)}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- div -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('divId')}}</mat-label>
                                        <mat-select [formControlName]="'divId'">
                                            <ng-container *ngFor="let div of divList">
                                                <mat-option [value]="div.id">
                                                    {{t(div.title)}}
                                                </mat-option>
                                            </ng-container>
                                            <mat-option class="w-full" (click)="addRow()">
                                                <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                                                <span class="ml-2 mr-1">  add row </span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- css & columnName & className & value & lines -->
                            <div class="flex flex-col w-full sm:pl-8">
                                <div class="flex">
                                    <!-- css -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('css')}}</mat-label>
                                        <input matInput [formControlName]="'css'">
                                    </mat-form-field>

                                    <!-- columnName -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('columnName')}}</mat-label>
                                        <input matInput [formControlName]="'columnName'">
                                    </mat-form-field>

                                    <!-- className -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('className')}}</mat-label>
                                        <mat-select [formControlName]="'className'">
                                            <ng-container *ngFor="let class of classNames">
                                                <mat-option [value]="class.id">
                                                    {{class.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- value -->
                                    <mat-form-field class="w-60 pr-2" *ngIf="selectedProductForm.get('type').value != 'select'">
                                        <mat-label>{{t('value')}}</mat-label>
                                        <input matInput [formControlName]="'value'">
                                    </mat-form-field>

                                    <!-- lines -->
                                    <mat-form-field class="w-60 pr-2" *ngIf="selectedProductForm.get('type').value === 'text-area'">
                                        <mat-label>{{t('lines')}}</mat-label>
                                        <input matInput type="number" min="0" [formControlName]="'lines'">
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- min & max & mask & message -->
                            <div class="flex flex-col w-full sm:pl-8">
                                <div class="flex">
                                    <!-- min -->
                                    <mat-form-field class="w-60 pr-2">
                                        <mat-label>{{t('validatorMin')}}</mat-label>
                                        <input matInput type="number" min="0" [formControlName]="'validatorMin'">
                                    </mat-form-field>

                                    <!-- max -->
                                    <mat-form-field class="w-60 pr-2">
                                        <mat-label>{{t('validatorMax')}}</mat-label>
                                        <input matInput type="number" min="0" [formControlName]="'validatorMax'">
                                    </mat-form-field>

                                    <!-- mask -->
                                    <mat-form-field class="w-60 pr-2">
                                        <mat-label>{{t('mask')}}</mat-label>
                                        <input matInput [formControlName]="'mask'">
                                    </mat-form-field>

                                    <!-- order -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('orderScreen')}}</mat-label>
                                        <input type="number" min="0" matInput [formControlName]="'orderScreen'">
                                    </mat-form-field>

                                    <!-- message -->
                                    <mat-form-field class="w-2/3 pr-2">
                                        <mat-label>{{t('validatorMessage')}}</mat-label>
                                        <input matInput [formControlName]="'validatorMessage'">
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- functionMethod -->
                            <div class="flex flex-col w-full sm:pl-8">
                                <div class="flex">
                                    <!-- functionMethod -->
                                    <mat-form-field class="w-1/4 pr-2">
                                        <mat-label>{{t('functionMethod')}}</mat-label>
                                        <mat-select [formControlName]="'functionMethod'">
                                            @for (func of listFunctions; track func) {
                                                <mat-option [value]="func.id">
                                                    {{t(func.name)}}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- sqlText -->
                            <div class="flex flex-col w-full sm:pl-8" *ngIf="selectedProductForm.get('type').value == 'search' || selectedProductForm.get('type').value == 'select' && selectedProductForm.get('defaultsValue').value == false">
                                <div class="flex flex-col">
                                     <!-- sqlText -->
                                    <mat-form-field class="w-full pr-2">
                                        <mat-label> Sql Query </mat-label>
                                        <textarea matInput name="questionText" rows="8" placeholder="Sql Query" [formControlName]="'sqlText'"></textarea>
                                    </mat-form-field>

                                    <div class="flex flex-col w-full mt-2 py-2" *ngIf="selectedProductForm.get('type').value == 'search'">
                                        <ng-container formArrayName="sqlObjSql">
                                            <ng-container *ngFor="let sqlO of sqlObjSql.controls; let i = index">
                                                <div class="flex flex-row w-full items-center" [formGroup]="sqlO">
                                                    <!-- Id -->
                                                    <mat-form-field class="w-2/3 pr-2">
                                                        <mat-label>{{t('key')}}</mat-label>
                                                        <input matInput [formControlName]="'id'">
                                                    </mat-form-field>
    
                                                    <!-- value -->
                                                    <mat-form-field class="w-2/3 pr-2">
                                                        <mat-label>{{t('field.list')}}</mat-label>
                                                        <mat-select [formControlName]="'value'">
                                                            <ng-container *ngFor="let field of fieldList">
                                                                <mat-option [value]="field.formControlName">
                                                                    {{ field.label | titlecase }}
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
    
                                                    <!-- remove button -->
                                                    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="deleteSqlObj(index)">
                                                        <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <div class="flex flex-row w-full items-start">
                                            <!-- add button -->
                                            <button mat-flat-button [color]="'primary'" (click)="addSqlObj()">
                                                <mat-icon [svgIcon]="'heroicons_outline:plus-small'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="flex flex-col w-full sm:pl-8">
                                <!-- active, infoSensitive, searchable, editable and visible -->
                                <div class="flex flex-row items-center sm:items-start mb-8 sm:mb-0">
                                    <div class="flex flex-col mt-8">
                                        <span class="font-semibold mb-2">{{t('active')}}</span>
                                        <mat-slide-toggle [formControlName]="'active'" [color]="'primary'">
                                            {{selectedProductForm.get('active').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8">
                                        <span class="font-semibold mb-2">{{t('infoSensitive')}}</span>
                                        <mat-slide-toggle [formControlName]="'infoSensitive'" [color]="'primary'">
                                            {{selectedProductForm.get('infoSensitive').value === true ? t('active') :  t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8">
                                        <span class="font-semibold mb-2">{{t('searchable')}}</span>
                                        <mat-slide-toggle [formControlName]="'searchable'" [color]="'primary'">
                                            {{selectedProductForm.get('searchable').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8">
                                        <span class="font-semibold mb-2">{{t('editable')}}</span>
                                        <mat-slide-toggle [formControlName]="'editable'" [color]="'primary'">
                                            {{selectedProductForm.get('editable').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8">
                                        <span class="font-semibold mb-2">{{t('visible')}}</span>
                                        <mat-slide-toggle [formControlName]="'visible'" [color]="'primary'">
                                            {{selectedProductForm.get('visible').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>
                                </div>

                                <!-- validatorRequired, nullValue and defaultsValue  -->
                                <div class="flex flex-row items-center sm:items-start mb-8 sm:mb-0">

                                    <div class="flex flex-col mt-8">
                                        <span class="font-semibold mb-2">{{t('validatorRequired')}}</span>
                                        <mat-slide-toggle [formControlName]="'validatorRequired'" [color]="'primary'">
                                            {{selectedProductForm.get('validatorRequired').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8">
                                        <span class="font-semibold mb-2">{{t('nullValue')}}</span>
                                        <mat-slide-toggle [formControlName]="'nullValue'" [color]="'primary'">
                                            {{selectedProductForm.get('nullValue').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>

                                    <div class="flex flex-col mt-8 px-8" *ngIf="selectedProductForm.get('type').value == 'select'">
                                        <span class="font-semibold mb-2">{{t('defaultsValue')}}</span>
                                        <mat-slide-toggle [formControlName]="'defaultsValue'" [color]="'primary'">
                                            {{selectedProductForm.get('defaultsValue').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>
                                </div>

                                <div class="flex flex-row items-center sm:items-start mb-8 sm:mb-0">
                                    <div class="flex flex-col mt-8">
                                        <span class="font-semibold mb-2">{{t('field.form.previewOnly')}}</span>
                                        <mat-slide-toggle [formControlName]="'previewOnly'" [color]="'primary'">
                                            {{selectedProductForm.get('previewOnly').value === true ? t('active') : t('disabled') }}
                                        </mat-slide-toggle>
                                    </div>
                                </div>

                                <div class="flex flex-col w-full border-t mt-8 py-4" *ngIf="selectedProductForm.get('type').value == 'select' && selectedProductForm.get('defaultsValue').value == true">
                                    <ng-container formArrayName="defaultSelect">
                                        <ng-container *ngFor="let defau of defaultsSelect.controls; let i = index">
                                            <div class="flex flex-row w-full items-center" [formGroup]="defau">
                                                <!-- Id -->
                                                <mat-form-field class="w-2/3 pr-2">
                                                    <mat-label>{{t('key')}}</mat-label>
                                                    <input matInput [formControlName]="'id'">
                                                </mat-form-field>

                                                <!-- value -->
                                                <mat-form-field class="w-2/3 pr-2">
                                                    <mat-label>{{t('value')}}</mat-label>
                                                    <input matInput [formControlName]="'value'">
                                                </mat-form-field>

                                                <!-- remove button -->
                                                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="deleteDefaultSelect(index)">
                                                    <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
                                                </button>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <div class="flex flex-row w-full items-start">
                                        <!-- add button -->
                                        <button mat-flat-button [color]="'primary'" (click)="addSelectdefaultSelect()">
                                            <mat-icon [svgIcon]="'heroicons_outline:plus-small'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="flex items-center justify-between w-full border-t px-8 py-4" *ngIf="dataEdit">
                    <button class="-ml-4" mat-button [color]="'warn'" (click)="deleteSelectedProduct()">
                        {{t('delete')}}
                    </button>
                </div>
            </div>

        </div>

    </div>
</ng-container>