<ng-container *transloco="let t">
    <mat-dialog-content class="flex flex-auto overflow-hidden">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

                <!-- Title -->
                <div class="flex flex-col flex-auto py-2">
                    <div class="lg:text-4xl sm:text-2xl font-extrabold tracking-tight"> {{t('util.auth')}} </div>
                </div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Close -->
                    <button class="ml-1" [mat-dialog-close]="false" mat-flat-button [color]="'bg-transparent'">
                        <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Alert -->
            <div class="p-4" *ngIf="showAlert">
                <fuse-alert *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
            </div>

            <!-- Main -->
            <div class="flex flex-col flex-auto overflow-y-auto overflow-hidden"> 
                

                <div class="flex flex-col sm:flex-row p-8">
                    <div class="flex flex-auto flex-wrap">
                        <!-- Sign in form -->
                        <form class="w-full mt-8"  [formGroup]="signInForm" #signInNgForm="ngForm">
            
                            <!-- User field -->
                            <mat-form-field class="w-full">
                                <mat-label>{{t('auth.username')}}</mat-label>
                                <input id="user" matInput [formControlName]="'user'" cdkFocusInitial>
                                <mat-error *ngIf="signInForm.get('user').hasError('required')">
                                    {{t('auth.username-error')}}
                                </mat-error>
                            </mat-form-field>
            
                            <!-- Password field -->
                            <mat-form-field class="w-full">
                                <mat-label>{{t('auth.password')}}</mat-label>
                                <input  id="password" matInput type="password" [formControlName]="'password'"  #passwordField>
                                <button mat-icon-button type="button"
                                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                    matSuffix>
                                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'" [svgIcon]="'mat_solid:visibility'"></mat-icon>
                                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'" [svgIcon]="'mat_solid:visibility_off'"></mat-icon>
                                </button>
                                <mat-error>
                                    {{t('auth.password-error')}}
                                </mat-error>
                            </mat-form-field>

                            <!-- Actions -->
                            <div class="flex shrink-0 flex-end justify-end mt-6 sm:mt-0 sm:ml-4">
                                <!-- cancel button -->
                                <button class="ml-4" mat-flat-button [color]="'disabled'" [mat-dialog-close]="false">
                                    <span class="ml-2 mr-1"> {{t('util.cancel')}}</span>
                                </button>

                                <!-- save button -->
                                <button [disabled]="signInForm.invalid || signInForm.disabled" class="ml-4 " mat-flat-button [color]="'primary'" (click)="submitUser()">
                                    <span class="ml-2 mr-1" *ngIf="!signInForm.disabled"> {{t('util.confirm')}}</span>
                                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'" matSuffix></mat-progress-spinner>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>|
    </mat-dialog-content>
    <mat-dialog-actions align="end"></mat-dialog-actions>
</ng-container>