<ng-container *transloco="let t">
    <ng-container *ngIf="!isModal; else isModalTemplate">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Header -->
            <div *ngIf="!isLoadingHeader" class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    
                <!-- Title -->
                <ng-container *transloco="let t">
                    <div class="text-4xl font-extrabold tracking-tight">
                        {{screenObejct?.title | titlecase }}
                    </div>
                </ng-container>
    
                <!-- Actions -->
                <div class="flex flex-row shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
    
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mr-1" [subscriptSizing]="'dynamic'">
                        <mat-select [formControl]="typeInputControl" placeholder="Selecione..">
                            <ng-container *ngFor="let head of heardsSearch">
                                <mat-option [value]="head.columnName">
                                    {{head.label}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
    
                    <!-- Search -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_solid:search'"></mat-icon>
                        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" placeholder="{{t('util.search')}}">
                    </mat-form-field>
    
                    <!-- Add product button -->
                    <button class="ml-2" mat-flat-button [color]="'primary'" [routerLink]="['add']" routerLinkActive="router-link-active">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2 mr-1">{{t('util.add')}}</span>
                    </button>
                </div>
            </div>
    
            <!-- Main -->
            <div *ngIf="!isLoading" class="flex flex-auto overflow-hidden">
    
                <!-- Products list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <div class="grid">
                        <!-- Header -->
                        <div [style]="style" class="z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>
                            <ng-container *ngFor="let head of heardsSearch">
                                <div class="hidden md:block" [mat-sort-header]="head.columnName ? head.columnName.toLowerCase() : head.label.toLowerCase()">
                                    {{head.label  | titlecase}}
                                </div>
                            </ng-container>
                            
                            <div class="sm:block">{{t('details')}}</div>
                            <div class="sm:block"></div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="responseBody.length > 0; else noProducts">
                            <ng-container *ngFor="let item of responseBody; trackBy: trackByFn">
                                <div [style]="style" class="grid items-center gap-4 py-3 px-6 md:px-8 border-b">
        
                                    <!-- row item -->
                                    <ng-container *ngFor="let head of heardsSearch">
                                        <div class="hidden md:block truncate">
                                            {{ item[head.columnName.toLowerCase()] | titlecase  }}
                                        </div>
                                    </ng-container>
        
                                    <!-- Details button -->
                                    <div class="lg:flex items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button  (click)="editDataClick(item)">
                                            <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:edit'"></mat-icon>
                                        </button>
                                    </div>
        
                                    <!-- Delete button -->
                                    <div class="lg:flex items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="deleteDataClick(item)">
                                            <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:delete'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-template #noProducts>
                        <ng-container *transloco="let t">
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                {{t('util.no_records')}}
                            </div>
                        </ng-container>
                    </ng-template>
    
                </div>
            </div>
    
        </div>
    </ng-container>
    <ng-template #isModalTemplate>
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <div class="grid" *ngIf="!isLoadingListModal">
                <!-- Header -->
                <div [style]="style" class="z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSort matSortDisableClear>
                    @if(fatherScreen.typeTab  == 'list') {
                        <ng-container *ngFor="let head of heardsSearch">
                            <div class="truncate text-aligm-c">
                                {{head.label  | titlecase}}
                            </div>
                        </ng-container>
                    }

                    @if(fatherScreen.typeTab  == 'listQuery') {
                        <ng-container *ngFor="let head of heardsSearch">
                            <div class="truncate text-aligm-c">
                                {{head  | titlecase}}
                            </div>
                        </ng-container>
                    }
                    <div class="truncate"></div>
                    
                    <!---
                        <div class="">{{t('details')}}</div>
                        <div class=""></div>
                    -->
                    
                </div>
                <!-- Rows -->
                <ng-container *ngIf="responseBody.length > 0; else noProducts">
                    <ng-container *ngFor="let item of responseBody; trackBy: trackByFn">
                        <div [style]="style" class="grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                            <!-- Items -->
                            <ng-container *ngFor="let head of heardsSearch">
                                @if(fatherScreen.typeTab  == 'list') {
                                    <div class="truncate text-aligm">
                                        @if(head.mask && head.type == 'date') {
                                            {{ item[head.columnName.toLowerCase()] | builderDatePipe:head.mask | titlecase }} 
                                        } @else if(head.mask && head.type != 'date') {
                                            {{ item[head.columnName.toLowerCase()] | imask:head.mask }}
                                        } @else {
                                            {{ item[head.columnName.toLowerCase()] | titlecase  }}
                                        }
                                    </div> 
                                }

                                @if(fatherScreen.typeTab  == 'listQuery') {
                                    <div class="truncate text-aligm">
                                        {{ item[head.toLowerCase()] | titlecase  }}
                                    </div> 
                                }
                            </ng-container>

                            <!-- Details button 
                            <div class="lg:flex items-center">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button  (click)="editDataClick(item)">
                                    <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:edit'"></mat-icon>
                                </button>
                            </div>

                            <-- Delete button 
                            <div class="lg:flex items-center">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="deleteDataClick(item)">
                                    <mat-icon class="icon-size-5"  [svgIcon]="'mat_solid:delete'"></mat-icon>
                                </button>
                            </div>
                            -->
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <ng-template #noProducts>
                <ng-container *transloco="let t">
                    <div *ngIf="!isLoadingListModal && !isError" class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        {{t('util.no_records')}}
                    </div>
                </ng-container>
            </ng-template>

            <div *ngIf="isError" class="flex flex-col items-center flex-auto px-10 py-2">
                
                <!-- Alert -->
                <fuse-alert
                    class="mt-8"
                    *ngIf="isError"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="erroMessage.type"
                    [@shake]="erroMessage.type === 'error'">
                    {{ erroMessage.message }}
                </fuse-alert>
            </div>

            <div *ngIf="isLoadingListModal" class="flex  flex-col items-center flex-auto px-10 py-2">
                <mat-spinner></mat-spinner>
            </div>

        </div>
    </ng-template>
</ng-container>