<ng-container *transloco="let t">
    <h2 mat-dialog-title></h2>
    <mat-dialog-content class="flex flex-auto overflow-hidden">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
               
                <!-- Title -->
                <div class="flex flex-col flex-auto py-2">
                    <div class="flex flex-row items-center lg:text-4xl sm:text-2xl font-extrabold tracking-tight">
                        Assinar
                    </div>
                </div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                    <!-- sign button -->
                    <button class="ml-1" mat-flat-button [color]="'primary'" (click)="signModal()">
                        <mat-icon [svgIcon]="'mat_outline:fingerprint'"></mat-icon>
                        <span class="ml-2 mr-1"> {{ t('util.sign')}}</span>
                    </button>

                    <!-- Close -->
                    <button class="ml-1" [mat-dialog-close]="true" mat-flat-button [color]="'bg-transparent'" mat-dialog-close>
                        <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Alert -->
            <div class="p-4" *ngIf="showAlert">
                <fuse-alert *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
            </div>

            <!-- Main -->
            <div class="flex flex-col flex-auto  overflow-y-auto overflow-hidden">
                <!-- Selected product form -->
                <form class="flex flex-col w-full " [formGroup]="loginForm" *ngIf="!isLoading">
                    <!-- User -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full pr-2">
                        <mat-label>{{t('user')}}</mat-label>
                        <input matInput cdkFocusInitial [formControlName]="'username'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_solid:search'"></mat-icon>
                        <mat-error>
                            {{t('auth.username-error')}}
                        </mat-error>
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field class="w-full">
                        <mat-label>{{t('password')}}</mat-label>
                        <input  #passField 
                                matInput
                                id="passField" 
                                type="password"
                                cdkFocusInitial 
                                [formControlName]="'pass'"
                                [autocomplete]="'off'">
                        <button  mat-icon-button type="button"
                            (click)="passField.type === 'password' ? 
                                        passField.type = 'text' : 
                                        passField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passField.type === 'password'" [svgIcon]="'mat_solid:visibility'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passField.type === 'text'" [svgIcon]="'mat_solid:visibility_off'"></mat-icon>
                        </button>
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_solid:search'"></mat-icon>
                        <mat-error>
                            {{t('auth.password-error')}}
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions> </mat-dialog-actions>
</ng-container>