<ng-container *transloco="let t">
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

            <!-- Title -->
            <div class="flex flex-col flex-auto py-2">
                @if(!screenTitle) {
                    <div class="text-4xl font-extrabold tracking-tight leading-none"> {{t('evolution.all')}} </div>
                }@else {
                    <div class="text-4xl font-extrabold tracking-tight leading-none"> Anamnese </div>
                }
            </div>
            

            <!-- Tutor -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-80 ml-2 ">
                <mat-label>Tutor</mat-label>
                <mat-spinner *ngIf="isLoadingTutor" class="w-5 h-5"></mat-spinner>
                <mat-select [(ngModel)]="zoneInputControl">
                    <ng-container *ngFor="let treat of tutorsList">
                        <mat-option [value]="treat.id">
                            {{treat.value}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-80 ml-2 ">
                <mat-label>{{t('evolution.range')}}</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate [(ngModel)]="dayStartInputControl" placeholder="Start date">
                  <input matEndDate [(ngModel)]="dayEndInputControl" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <button class="lg:flex items-center details min-w-10 min-h-11 h-11 px-2 leading-6 ml-2" (click)="getEvolutionStatus(true)">
                <mat-icon class="icon-size-7" [svgIcon]="'mat_solid:search'"></mat-icon>
            </button>
        </div>

        <!-- Main -->
        <div class="flex flex-col flex-auto px-10 py-2">
        
            <!-- Evolution feed -->
            <div class="w-full" id="evolution-full">
                <!-- Evolution object -->
                <ng-container *ngIf="activities.length > 0 && !isLoading; else noActivity">
                    <div class="mt-8">
                        <ol>
                            <!-- Activities -->
                            <ng-container *ngFor="let activity of activities; let i = index; let first = first; let last = last; trackBy: index">

                                <!-- Date separator -->
                                <ng-container *ngIf="first || !isSameDay(activity.date, activities[i - 1].date)">
                                    <li class="relative flex py-7">
                                        <div class="relative py-2 px-8 text-md font-medium leading-5 rounded-full bg-primary text-on-primary">
                                            {{getRelativeFormat(activity.date) | titlecase}}
                                        </div>
                                    </li>
                                </ng-container>

                                <!-- Activity -->
                                <li class="relative flex py-7">
                                    <!-- Line -->
                                    <ng-container *ngIf="!last && isSameDay(activity.date, activities[i + 1].date)">
                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600"></div>
                                    </ng-container>

                                    <div class="relative flex flex-auto">
                                        <!-- Icon -->
                                        <ng-container *ngIf="activity.icon && !activity.image">
                                            <div class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400">
                                                <mat-icon class="icon-size-5 text-white" [svgIcon]="activity.icon">
                                                </mat-icon>
                                            </div>
                                        </ng-container>

                                        <!-- Image -->
                                        <ng-container *ngIf="activity.image">
                                            <img class="shrink-0 w-10 h-10 mr-4 rounded-full overflow-hidden object-cover object-center"
                                                [src]="activity.image"
                                                [alt]="'Activity image'">
                                        </ng-container>

                                        <!-- Content -->
                                        <div class="flex flex-col flex-auto items-start">
                                            <!-- Description -->
                                            <ng-container *ngIf="activity.description">
                                                <div [innerHTML]="activity.description"></div>
                                            </ng-container>
                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                <!-- Date -->
                                                <div class="text-secondary">
                                                    {{ activity.date | date: 'MMMM d, y' | localizedDate }} - {{ activity.hours }}
                                                </div>
                                                <!-- Linked content -->
                                                <ng-container *ngIf="activity.linkedContent">
                                                    <div class="hidden sm:block">&bull;</div>
                                                    <!-- Internal link -->
                                                    <ng-container *ngIf="activity.useRouter">
                                                        <a class="cursor-pointer text-primary"  [routerLink]="activity.link">
                                                            {{activity.linkedContent}}
                                                        </a>
                                                    </ng-container>
                                                    <!-- External link -->
                                                    <ng-container *ngIf="!activity.useRouter">
                                                        <a class="cursor-pointer text-primary" [href]="activity.link" target="_blank">
                                                            {{activity.linkedContent}}
                                                        </a>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                            <!-- Extra content -->
                                            <ng-container *ngIf="activity.extraContent">
                                                <div  class="mt-4 py-4 px-5 rounded-lg bg-gray-200 dark:bg-gray-800" [innerHTML]="activity.extraContent"></div>
                                            </ng-container>
                                        </div>

                                        <div class="flex shrink-0 items-center justify-center w-40 h-10 mr-4 mt-4">
                                            <button *ngIf="activity.itemSigned" [disabled]="isLoadingDownload" class="ml-1" mat-flat-button [color]="'primary'" (click)="getPdfPreviewDownload(activity.itemSigned)">
                                                <mat-icon class="icon-size-5 text-white" [svgIcon]="'mat_outline:cloud_download'"></mat-icon>
                                                <span class="ml-2 mr-1"> {{ t('util.download')}}</span>
                                            </button>

                                            <!--<button *ngIf="!activity.itemSigned && activity.user_authority == loggedUserObject?.usuario" [disabled]="isLoadingDownload" class="ml-1" mat-flat-button [color]="'primary'" (click)="openPreSaveDialog(activity.evolution_id)">-->
                                            <button *ngIf="!activity.itemSigned" [disabled]="isLoadingDownload" class="ml-1" mat-flat-button [color]="'primary'" (click)="openPreSaveDialog(activity.evolution_id)">
                                                <mat-icon class="icon-size-5 text-white" [svgIcon]="'mat_outline:fingerprint'"></mat-icon>
                                                <span class="ml-2 mr-1"> {{ t('util.sign')}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ol>
                    </div>
                </ng-container>

                <!-- No Evolution template -->
                <ng-template #noActivity>
                    <div *ngIf="!isLoading && activities.length < 1" class="mt-1.5 text-lg text-secondary">
                        
                        @if(!screenTitle) {
                            {{t('evolution.no')}}
                        }@else {
                            Sem anamnese registrada.
                        }
                        
                    </div>
                    <div *ngIf="isLoading && activities.length < 1" class="flex flex-row justify-center px-10 py-8">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>